### 1. Python Syntax

In [2]:

print("Hi\
      there")

Hi      there

In [3]:
print("""hi
there""")

hi
there

In [4]:
# can’t use backslashes inside a docstring for statements dat aren’t a string
"""hi\
there"""

'hithere'

In [6]:
# Docstring in python
def func():
    """
    this function prints Hi
    """
    print("hi")
func()

hi

In [7]:
# multistatement in one line
a=10;print(a)

10

In [9]:
print("we need a chaperon")

we need a chaperon

In [10]:
print("we need a 'chaperon'")

we need a 'chaperon'

In [25]:
#python string formatter

# % operator 
print("the values of a = %s" % (a))
# Format Method
print("value of a is = {0}".format(a))
print("the value of a = {a}".format(a=10))

the values of a = 10
value of a is = 10
the value of a = 10

### 2. variables and data types

In [27]:
# multiple assignmets
age,name = 21,'app'
print(age,name)

21 app

In [28]:
# Deleting variables
del age

In [29]:
# python Numbers
a=1
b=1.0
c = 2+3j

print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [34]:
# tuples are immutable
subjects =('eng','maths')
subjects[0]
#subjects[0]= 'bio'

'eng'

In [40]:
#Dictionaries
person={'city':'Goa','age':7}
type(person)
person['city'] 
#list of keys
person.keys()

dict_keys(['city', 'age'])

In [41]:
# boolean
a = 2>1
type(a)

bool

In [46]:
# sets
a = {1,2,3,4}
a
# set is unordered so doesn't suppport indexing
a.remove(4)
a.add(5)
a.add(5)
a

{1, 2, 3, 5}

In [68]:
# Type Conversion
print(int(3.7),
int(True),
float(1),
float(2.011e-2),
str(2.1),
bool(0.1),
set([1,2,3]),
list("123"),
list({1,2,2,3}),
tuple({1,2,2,3}),
tuple(list(set([1,2]))))

3 1 1.0 0.02011 2.1 True {1, 2, 3} ['1', '2', '3'] [1, 2, 3] (1, 2, 3) (1, 2)

In [96]:
# Global Variables
# When you declare a variable outside any context/scope, it is visible in teh whole program.
x = 1
def func1():
    y =3
    global x
    
    def funce2():
        nonlocal y 
    print(f"x:{x},y:{y}")
   

func1()

#print("func:{0} value:{1}".format(func1(),x))

x:1,y:3

### 3. Python Namespace and Variable Scope

In [74]:
rank=1
id(rank)

498953280

In [75]:
id(1)

498953280

In [97]:
# there are three types of namesapace- global, local, and built-in.
# Current function’s variable scope- has local names
# Module’s variable scope- has global names
# The outermost variable scope- has built-in names

### 4. Python Operator — Types of Operators in Python

In [98]:
# Exponentiation(**)
2**5

32

In [99]:
# Divides and returns the integer value of the quotient. It dumps the digits after the decimal.
4//3

1

In [101]:
# Modulus(%)
#Divides and returns teh value of teh remainder.

24 % 4

0

In [102]:
# Python Relational Operator
# Notequal to
1!=1.0

False

In [111]:
a=1
a+=2
a
a-=2
a
a/=2
a
a*=3
a
a**=2
a
a//=2
a

1.0

In [115]:
#Python Logical Operator
#AND
if(1<2) and (6>4):
    print("yes")
#OR
x=1>2 or 4>3
x
#NOT
a=not(0)
print(a)

yes
True

In [117]:
# Membership Python Operator
# in
lst = ['a','b']
z='a' in lst
print(z)
z= 'a' not in lst
print(z)

True
False

In [121]:
# Python Identity Operator
'2' is '2'
2 is not '2'

True

In [130]:
# Python Bitwise Operator
# AND
2&3
3&4
# OR
2|3
# XOR
3 ^ 4
# Binary One’s Complement(~)
~3
# Binary Left-Shift(<<)
2<<2
# Binary Right-Shift(>>)
8>>2

2

### 5. Python Data Structures – Lists, Tuples, Sets, Dictionaries

In [138]:
# LIST
languages=['C++','Python','Scratch',1,('app',23),False
          ] # You can put any kind of value in a list.
languages
# accessing list
languages[1]
languages[-2]
# Slicing a list
languages[1:4] # 1st to 3rd element
languages[:-2]

['C++', 'Python', 'Scratch', 1]